@import 'node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
$rale: "Raleway", sans-serif;
@mixin raleway($weight, $style){
  font-family: $rale;
  font-weight: $weight;
  font-style: $style;
}

.raleway-normal {
  @include raleway(400, normal);
}
.raleway-bold {
  @include raleway(800, bold);
}
.raleway-italic {
  @include raleway(500, italic);
}

body {
  overflow-x: hidden;
  font-family: $rale;
  //margin: 0;
  //padding: 0;
  height: 100vh;
}

.resume {
  width: 100%;
  height: 100vh;
  //margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  flex-direction: row;
}

.right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 110px;
  padding-right: 0;
  background-color: #fff;
  width: 50%;
}

.left-col {
  padding-left: 115px;
  padding-right: 0;
  margin-right: 0;
  background-color: #29343a;
  color: white;
  padding-bottom: 125px;
}

.left-col1 {
  padding: 0;
  background-color: #29343a;
  color: white;
}
.left-col10 {
  margin-top: 75px;
  padding: 0;
  background-color: #29343a;
  color: white;
}
.right-col1 {
  padding: 0;
}

.left-col2 {
  background-color: #29343a;
  color: white;
  width: 8%;
  align-items: center;
  display: flex;
}
.right-col2 {
  padding-left: 0;
padding-right: 110px;
}

.right-col3 {
  background-color: #fff;
  width: 50%;
}

.left-col3{
  margin-top: 85px;
  padding: 0;
}

.left-col30{
  padding: 0;
  margin-top: 0;
}

.Name {
  writing-mode: tb-rl; /* Вертикальне написання */
  transform: rotate(-180deg); /* Поворот тексту */
  font-size: 1rem;
  text-align: end;
  .first-name {
font-family: $rale;
    font-size: 80px;
    font-weight: 800;
    margin: 0;
  }

.position-work{
  text-transform: uppercase;
font-family: $rale;
  font-size:30px;
  margin: 0;
  letter-spacing: 5px;
 }
}
.img-fluid{
  float: right;
  margin-right: 0;
  width: 30rem;
  height: 38rem;
  object-fit: cover;
  margin-bottom: 40px;
  border: 12px solid white;
  border-right: 0;
}
.name-foto{
  padding-top: 8rem;
  justify-content: space-between;
}
.about-me{
  margin-top:65px;
  padding-right: 103px;
  p{
    font-family: $rale;
    line-height: 1.7;
    padding-top:30px;
    text-align: justify;
    font-size: 26px;
  }
  h2{
    font-size: 47px;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    justify-content: left;
    font-family: $rale ;
    display: flex;
    padding-right: 5px;
  }
}

.education-header {
  margin-bottom: 25px;

  h2 {
    padding-top: 10px;
    font-size: 47px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $rale;
  }
}
.education-item {
  padding-top: 20px;
  line-height: 1;
}
.education-item2 {
  padding-top: 45px;
  line-height: 1;
}
.education{
  margin-top: 90px;
  p{
    font-size: 31px;
    text-align: left;
    text-transform: uppercase;
  }
  h3{
    font-size: 23px;
    text-transform: uppercase;
    font-family: $rale;
  }
}
.year {
  font-size: 27px;
  color: #02c5db;
}

.skills {
  margin-top: 110px;
  justify-content: space-between;
  padding-right: 103px;
  align-items: center;
  font-family: $rale;
  color: #ffffff;
  h2{
    font-size: 40px;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $rale;
    display: flex;
    padding-right: 5px;
    justify-content: left;
  }
}
.skill {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 15px;
  h6 {
    font-size: 19px;
    display: inline-block;
    margin-bottom: 5px;
  }
}
.stars-container {
  margin-top: -5px;
  align-items: center;
}
.stars {
  display: inline-flex;
}
.star {
  font-size: 22px;
  color: #ccc;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.star.filled {
  color: #02c5db;
}

.contact-me{
  margin-top: 25px;
  p{
    align-items: center;
    display: flex;
    font-size: 25px;
    margin: 10px 0;
    padding: 0;
    font-family: $rale;
  }
}
.contact-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  h2 {
    font-size: 47px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $rale;
  }
}
.contact-item {
  font-size: 26px;
  margin-top: 15px;
  position: relative;
}

.left-col4{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;

  .icon-circle1 {
  display: flex;
  margin-right: 20px;
  background-color: #02c5db;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}}


.job-experience{
  margin-top: 110px;
  text-align: left;
  p{
    text-align: left;
    font-size: 24px;
    font-family: $rale;
  }
  h2{
    font-size: 47px;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: left;
    font-family: $rale;
  }
  h3{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 30px;
    //font-weight: 700;
  }
}
.years {
  font-size: 27px;
  color: #02c5db;
}
.job-item {
  padding-top: 50px;
}
.job-item2 {
  padding-top: 50px;
}
.job-item3 {
  padding-top: 40px;
}

.references{
  margin-top: 110px;
  h2{
    font-size: 47px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    font-family: $rale;
  }
  p{
    font-size: 1.6vw;
    padding-right: 90px;
    text-align: left;
    margin: 5px 0;
    font-family: $rale;
    line-height: 1;
  }
  h3{
    text-transform: uppercase;
    font-size: 30px;
  }
}
.references-item{
  padding-top: 40px;
}

.timeline {
  margin-top: 20px;
  margin-left: 0px;
}
.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icon {
  background-color: #02c5db;
  color: #29343a;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.icon-circle {
  color: #29343a;
  margin-right: 20px;
  background-color: #02c5db;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.circle {
  background-color: #02c5db;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px 0;
}

.line {
  width: 4px;
  height: 60px;
  background-color: #02c5db;
}
.line1 {
  width: 4px;
  height: 30px;
  background-color: #02c5db;
}
.line2 {
  width: 4px;
  height: 100px;
  background-color: #02c5db;
}
.line3 {
  width: 4px;
  height: 40px;
  background-color: #02c5db;
}
.line4 {
  width: 4px;
  height: 275px;
  background-color: #02c5db;
}
.line5 {
  width: 4px;
  height: 50px;
  background-color: #02c5db;
}
.line6 {
  width: 4px;
  height: 235px;
  background-color: #02c5db;
}
.line7 {
  width: 4px;
  height: 140px;
  background-color: #02c5db;
}
.line8 {
  width: 4px;
  height: 130px;
  background-color: #02c5db;
}
.line9 {
  width: 4px;
  height: 110px;
  background-color: #02c5db;
}
.roll-block {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.roll {
  cursor: pointer;
}
